<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>kosta_final_project</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/baseConfig.xml</param-value>
  </context-param>
  <listener>
    <listener-class>
    		org.springframework.web.context.ContextLoaderListener
   		</listener-class>
  </listener>
  <servlet>
    <servlet-name>springapp</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>springapp</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>memberxml</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
		      /WEB-INF/memberxml/memberxml-servlet.xml
	     </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberxml</servlet-name>
    <url-pattern>/member/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>commonxml</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
		      /WEB-INF/commonxml/commonxml-servlet.xml
	     </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>commonxml</servlet-name>
    <url-pattern>/common/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>layoutxml</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
		      /WEB-INF/layoutxml/layoutxml-servlet.xml
	     </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>layoutxml</servlet-name>
    <url-pattern>/layout/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>messagexml</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
		      /WEB-INF/messagexml/messagexml-servlet.xml
	     </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>messagexml</servlet-name>
    <url-pattern>/message/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>openmatchingxml</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
		      /WEB-INF/openmatchingxml/openmatchingxml-servlet.xml
	     </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>openmatchingxml</servlet-name>
    <url-pattern>/openmatching/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>openpagexml</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
		      /WEB-INF/openpagexml/openpagexml-servlet.xml
	     </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>openpagexml</servlet-name>
    <url-pattern>/openpage/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dwrxml</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
		      /WEB-INF/dwrxml/dwrxml-servlet.xml
	     </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwrxml</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>opensearchxml</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
		      /WEB-INF/opensearchxml/opensearchxml-servlet.xml
	     </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>opensearchxml</servlet-name>
    <url-pattern>/opensearch/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
            org.springframework.web.filter.CharacterEncodingFilter
     	</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>EUC-KR</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>