<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="writeService" class="kosta.spring.WriteServiceImpl">
		<constructor-arg>
			<ref bean="mysqldao"/>
		</constructor-arg>
		<property name="dao2">
			<ref bean ="mysqldao"/>
		</property >
		<property name="name">
			<value>visualkhh</value>
		</property >
	</bean>
	<bean id="oracledao" class="kosta.spring.OracleDao"></bean>
	<bean id="mysqldao" class="kosta.spring.MysqlDao"></bean>
</beans>