CHARSET "EUC-KR";

body {
	font-family: Trebuchet MS;
}

.container {
	width: 500px;	/*너비*/
	margin: 10px auto 10px;	/*마진(테두리바깥공간): 상,좌우,하*/	
	padding: 0px; 	/*패딩(테두리안쪽공간): 전체*/
	border: 1px solid #3F5F92;	/*테두리: 굵기, 타입, 색깔*/
	text-align: center;	/*내부텍스트정렬: 좌측정렬*/
	font-family: Trebuchet MS;
}

.titlem {
	margin: 5px;
	padding: 5px 10px;	
	text-align: left;
	font-size: 12px;
	cursor: pointer;	/* mouseover finger shape */	
	background-color: #bebebe;
}

.title p {
	margin: 0px;
	padding: 0px;
}


	div.comment {
	margin: 10px 5px;
	padding: 0px 10px;
	border: 1px dashed #D6DAD9;
	text-align: left;
	font-size: 12px;
	}






#comment {
}

#comment p {
}

#button-container {
	height: 20px;
	margin: 0px 0px 10px;
	padding: 5px;
}

.button1 {
	float: right;
	width: 70px;
	height: 22px;
	text-align: center;		
	margin: 0px 0px 0px 8px;
	padding: 0px;	
	font-size: 12px;
	cursor: pointer;	/* mouseover finger shape */
	background-repeat: no-repeat;		
	background-image: url("images/UILinkButton_Blue[1].png");
}

.button2 {
	float: right;
	width: 70px;
	height: 22px;
	text-align: center;		
	margin: 0px 0px 0px 8px;
	padding: 0px;	
	font-size: 12px;
	cursor: pointer;	/* mouseover finger shape */
	background-repeat: no-repeat;	
	background-image: url("images/UILinkButton_Green[1].png");
}

.button1 p, .button2 p {
	margin: 0px;
	padding: 2px;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
}

.sbox {
	float: left;
	width: 80px;
	height: 30px;	
	margin: 10px 0px 10px 5px;
	padding: 0px;	
	text-align: center;
	font-size: 12px;
	cursor: pointer;	/* mouseover finger shape */
	border: 1px dashed #E46C08;
}

.sbox p {
	margin: 0px;
	padding: 6px;	
}

.sbox :HOVER {
	background-color: #FFB400;
}

.lbox {
	clear: both;
	height: 100%;
	margin: 0px 5px 10px;
	padding: 10px 10px;
	border: 1px dashed #E46C08;
	font-size: 12px;
	display: block;
}

.lbox p {
	margin: 0px;
	padding: 6px;
}






