<?xml version="1.0" encoding="UTF-8"?>

<shot xmlns="http://www.visualkhh@gmail.com">

<!-- 
gun 에는 인터발 시간이있고
function 에는 broadcast = "true"  하면 브로드 케스팅할수있는놈이 된다
pair 는 cometevent가 개인당하나씩 들어간다 쓰레드생성되서
 -->
 
 	<db>
		<jndi id="mproject" name="jdbc/mproject" maxsize="100"></jndi>
	</db>
	
	
	<gun id="gun_hhk"   class="com.web.framework.commet.GunHHK"  interval="3000" ></gun>
	<gun id="gun_khh"   class="com.web.framework.commet.GunKHH"  interval="3000" ></gun>
	<gun id="gun_script"   class="com.web.framework.commet.GunScript"  interval="1000" ></gun>



	<function id="fnc_hhkhh"  class="com.web.framework.commet.FunctionHHKHH"  >
		<gun ref="gun_hhk" />
		<gun ref="gun_khh" />
	</function>
	
	<function id="fnc_hhk"  class="com.web.framework.commet.FunctionHHK"   >
		<gun ref="gun_hhk" />
	</function>
	
	
	<function id="fnc_script"  class="com.web.framework.commet.FunctionScript"  broadcast="tue" >
		<gun ref="gun_script" />
	</function>
	 
	<function id="fnc_twitter"  class="com.web.framework.commet.FunctionString"  >
		<gun id="gun_string"   class="com.web.framework.commet.GunTwitter"  interval="1000" ></gun>
	</function>
	
	<function id="fnc_settwitter"  class="com.web.framework.commet.FunctionString"  pair="tue" >
		<gun id="gun_string"   class="com.web.framework.commet.GunSetTwitter"  interval="1000" pair="true" ></gun>
	</function>

<!-- 	
	<function id="fnc_ssettwitter"  class="com.web.framework.commet.FunctionString" >
		<gun id="gun_string"   class="com.web.framework.commet.GunSetTwitter"  interval="1000"  ></gun>
	</function>
 -->

	
	<function id="fnc_khh"  class="com.web.framework.commet.FunctionKHH"  >
		<gun ref="gun_khh" />
	</function>
	<function id="fnc_khh2"  class="com.web.framework.commet.FunctionKHH"  >
		<gun id="gun_khh"   class="com.web.framework.commet.GunKHH"  interval="1000" ></gun>
	</function>

	
	<function id="fnc_good"  class="com.web.framework.commet.FunctionKHH"  pair="true">
		<gun id="gun_khh"   class="com.web.framework.commet.GunHHK"  interval="1000"  pair="true"></gun>
	</function>
	
	
	<function id="fnc_hhkhh2"  class="com.web.framework.commet.FunctionHHKHH"  pair="true'">
		<gun ref="gun_hhk" />
		<gun id="gun_khh"   class="com.web.framework.commet.GunKHH"  interval="1000"  pair="true"></gun>
	</function>


</shot>