@CHARSET "EUC-KR";
/* 반드시 들어가야 하는 스타일 시작 */


/***********      template.jsp             *************/

/* 1. 본문 전체  */
body {
	margin-top: 0px;
	margin-left: 0px;
	font-family: Tahoma;
	font-size: 8pt;
	text-align: center;
	color: #333;
	background-image: url("http://localhost:8081/final_project/images/commons/template_background_bar[1].png");
	background-position: 0% 0%;
	background-repeat: repeat-x;
}

a:LINK, a:VISITED {	
	text-decoration: none;
}

/* 2. input과 textarea에 대한 설정 */
input, textarea {
	color: #333;
}

/* 3. 전체 레이아웃을 담는 container */
.template-container {
	width: 964px;
	height: 100%;
	margin: 0px auto 0px;
	padding: 0px;
	border: 0px dashed #bebebe;		/* 개발용 경계선 = 삭제할것 */
}

/* 4. header 구역 스타일 설정 */
.template-header {
	width: 100%;
	height: 28px;
	margin: 0px;
	padding: 1px 0px 2px;
}

/* 4. body 구역 스타일 설정 */
.template-body {
	margin: 0px;
	padding: 0px;
}

/* 5. footer 구역 스타일 설정 */
.template-footer {
	clear: both; /* body.css 파일의 container 들이 float: right, left로 설정되어 있다. 그것을 해제해 주기위해 사용*/
	margin: 0px;
	padding: 0px;
}

/***********      header.jsp             *************/

/* header를 담는 header-container ==> 파란색 테마 헤더 */
.header-container {
	width: 100%;
	height: 29px;
	margin: 0px;
	padding: 0px;
	background-image: url("http://localhost:8081/final_project/images/commons/header_menubar_background[1].png");
	background-position: 100% 100%;
	background-repeat: no-repeat;
}

/* opensearch 모드일때 주황색 테마 헤더 */
.opensearch-header-container {
	width: 100%;
	height: 29px;
	margin: 0px;
	padding: 0px;
	background-image: url("http://localhost:8081/final_project/images/commons/header_menubar_background[2].png");
	background-position: 100% 100%;
	background-repeat: no-repeat;	
}

.openmatching-header-container {
	width: 100%;
	height: 29px;
	margin: 0px;
	padding: 0px;
	background-image: url("http://localhost:8081/final_project/images/commons/header_menubar_background[3].png");
	background-position: 100% 100%;
	background-repeat: no-repeat;	
}

/* 7. 메뉴의 각 항목을 담는 상자 */
.menu-item {
	float: left;
	width: 80px;
	height: 28px;
	margin: 0px 0px 0px;
	padding: 0px;
	text-align: center;
	cursor: pointer;
	border: 0px;
}

/* 8. 메뉴 상자에 마우스를 올렸을때 배경색 전환 */
.menu-item:HOVER {
	background-color: #5C75AA;
}

/* 마우스 올렸을때 배경색 전환 opensearch 모드일때 주황색 테마  */
.opensearch-header-container .menu-item:HOVER {
	background-color: #E6A642; 
}

/* 마우스 올렸을때 배경색 전환 openmatching 모드일때 녹색 테마  */
.openmatching-header-container .menu-item:HOVER {
	background-color: #41A541; 
}

.menu-item p a:LINK, .menu-item p a:VISITED {
	text-decoration: none;
	color: #fff;
}

/* 9. 로고 이미지를 담는 상자 */
.logo img {
	float: left;
	margin: 7px 12px 0px;
	padding: 0px;
}

/* 10. 메뉴 상자 안의 텍스트 상자 */
.menu-item p {
	margin: 0px;
	padding: 6px;
	color: #fff;
	font-weight: bold;
}

/* 로그인한 사용자 이름과 로그인상태 표시 상자  */
.menu-username, .menu-status {
	float: right;
	/*width: 100px;*/
	height: 28px;
	margin: 0px 0px 0px;
	padding: 0px;
	text-align: right;
	cursor: pointer;
	border: 0px;
}

/* 상자에 마우스를 올렸을때 배경색 전환  */
.menu-username:HOVER , .menu-status:HOVER {
	background-color: #5C75AA;
}

/* 마우스 올렸을때 배경색 전환 opensearch 모드일때 주황색 테마  */
.opensearch-header-container .menu-username:HOVER ,
.opensearch-header-container .menu-status:HOVER {
	background-color: #E6A642;
}

/* 마우스 올렸을때 배경색 전환 openmatching 모드일때 녹색 테마  */
.openmatching-header-container .menu-username:HOVER ,
.openmatching-header-container .menu-status:HOVER {
	background-color: #41A541;
}

/* 상자 안에 텍스트 박스 */
.menu-username p, .menu-status p {
	margin: 0px;
	padding: 6px;
	color: #fff;
}

/* 검색 박스 */
.menu-search {
	float: right;
	width: 126px;
	height: 29px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	border: 0px;
}

/* 검색 박스 안에 텍스트 박스 */
.menu-search p {
	margin: 0px;
	padding: 5px 0px 0px;
}

/* 검색 박스 안에 텍스트박스 안에 input 스타일*/
.menu-search p input {
	font-family: Tahoma;
	font-size: 8pt;
	border: 1px solid #6e6e6e;
	height: 16px; 
}

/* openpage 모드일때 파란색 테마의 돋보기 검색 버튼 */
.menu-button {
	float: right;
	width: 15px;
	height: 18px;
	margin: 5px 15px 0px 0px;
	padding: 0px;
	border: 1px solid #3B5998;
	background-image: url("http://localhost:8081/final_project/images/commons/template_header_search[1].png");
	background-position: 100% 100%;
	background-repeat: no-repeat;
}

/* opensearch 모드일때 주황색 테마의 돋보기 검색 버튼 */
.opensearch-header-container .menu-button {
	float: right;
	width: 15px;
	height: 18px;
	margin: 5px 15px 0px 0px;
	padding: 0px;
	border: 1px solid #D3870F;
	background-image: url("http://localhost:8081/final_project/images/commons/template_header_search[2].png");
	background-position: 100% 100%;
	background-repeat: no-repeat;
}

/* opensearch 모드일때 주황색 테마의 돋보기 검색 버튼 */
.openmatching-header-container .menu-button {
	float: right;
	width: 15px;
	height: 18px;
	margin: 5px 15px 0px 0px;
	padding: 0px;
	border: 1px solid #D3870F;
	background-image: url("http://localhost:8081/final_project/images/commons/template_header_search[3].png");
	background-position: 100% 100%;
	background-repeat: no-repeat;
}


/***********      footer.jsp             *************/

/* 11. footer를 담는 footer-container */
.footer-container {
	height: 50px;
	font-family: Tahoma;	
	font-size: 8pt;
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #d2d2d2;
}

/* 12. footer 안의 p 텍스트 상자 */
.footer-container p{
	margin: 0px;
	padding: 5px 0px 0px;
}

/* footer 맨 앞에 회사 이름 상자 */
.footer-company {
	float: left;
	margin: 0px;
	padding: 0px 3px 0px;
	color: #828282;	
}

/* footer 안의 좌측 두번째 상자 */
.footer-item-left {
	float: left;
	margin: 0px;
	padding: 0px 5px 0px;
	color: #3B5999;
}

/* footer 안의 우측 상자 */
.footer-item-right {
	float: right;
	margin: 0px;
	padding: 0px 5px 0px;
	color: #3B5999;
}

