<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>M_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- 
   <context-param>
         <param-name>log4jConfig</param-name>
         <param-value>seo log</param-value>
   </context-param>
    -->
   <context-param>
         <param-name>logkConfigLocation</param-name>
         <param-value>/WEB-INF/config/logk/logconfig.xml</param-value>
   </context-param>
  
  
  
  <servlet>
    <description></description>
    <display-name>GunLongPolling</display-name>
    <servlet-name>GunLongPolling</servlet-name>
   <!-- 
    <servlet-class>khh.web.jsp.framework.commet.longpolling.CommetTest</servlet-class>
     -->
    <servlet-class>khh.web.jsp.framework.commet.longpolling.GunLongPolling</servlet-class>
   <!-- 
     -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/longpolling/config.xml</param-value>
    </init-param>
    <init-param>
	     <param-name>contextConfigLocationPattern</param-name>
	     <param-value>/WEB-INF/config/longpolling/polling_.*.xml</param-value>
 	</init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GunLongPolling</servlet-name>
    <url-pattern>/GunLongPolling/*</url-pattern>
  </servlet-mapping>
   
   <!-- 
  <servlet>
    <description></description>
    <display-name>JsNamping</display-name>
    <servlet-name>JsNamping</servlet-name>
    <servlet-class>com.web.framework.commet.longpolling.GunLongPolling</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/longpolling/config.xml</param-value>
    </init-param>
    <init-param>
	     <param-name>contextConfigLocationPattern</param-name>
	     <param-value>/WEB-INF/config/longpolling/polling_.*.xml</param-value>
 	</init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>JsNamping</servlet-name>
    <url-pattern>/JsNamping/*</url-pattern>
  </servlet-mapping>
  
     -->
   
    <servlet>
    <description>mmm</description>
    <display-name>hhk</display-name>
    <servlet-name>hhk</servlet-name>
    <servlet-class>com.servlet.testservlet</servlet-class>
	</servlet>
  
  
  <servlet-mapping>
    <servlet-name>hhk</servlet-name>
    <url-pattern>*.s</url-pattern>
  </servlet-mapping>
  
</web-app>